*{
	margin: 0;
	padding: 0;
	border: 0;
}
a{
	text-decoration: none;
}
.navigation{
	width: 1170px;
	height: 55px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
.navigation h3{
	margin: 0;
	float: left;
}
.navigation h3 i{
	display: inline-block;
	background: url(../img/sprit.png) 0 -46px no-repeat;
	width: 31px;
	height: 31px;
	margin: 12px 10px -7px 0;
}
.nav-bar{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}
.nav-bar li{
	float: left;
	width: 65px;
	height: 50px;
	margin-right: 25px;
	text-align: center;
	cursor: pointer;
}
.nav-bar li a{
	text-decoration: none;
	font: normal 15px/55px "微软雅黑";
    color: rgb(158, 159, 163);
}
.nav-bar li a:hover{
	border-bottom: #E74F4D;
}
.nav-bar li i{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/sprit.png) -33px -54px no-repeat;
	margin: 2px 2px 0 0;
}
.nav-bar li:last-child{
	color: #E74F4D;
}
.bg_main{
	width: 100%;
	height: 645px;
	background: url(../img/newLife.jpg) 30px 0 no-repeat;
}
.newLife{
	position: absolute;
	top: 200px;
	left: 120px;
	color: #FFFFFF;
}
.newLife h1{
	margin-bottom: 20px;
	font-family: "microsoft yahei";
	font-size: 52px;
}
.newLife p{
	margin-bottom: 7px;
}
.newLife a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	width: 330px;
	height: 63px;
	background-color: #E8504F;
	margin-top: 100px;
	font: normal 30px/65px "microsoft yahei";
	text-align: center;
}
.bg_foot{
	width: 80%;
	height: 250px;
	margin: 0 auto;
}
.bg_foot ul{
	list-style: none;
}
.bg_foot ul li{
	float: left;
	width: 15%;
	color: #8D8D8D;
	font-size: 14px;
	text-align: center;
}
.bg_foot li:first-child, .bg_foot li:nth-child(2), .bg_foot li:nth-child(3){
	margin-right: 12%;
}
.bg_foot li:first-child i{
	display: block;
	width: 41px;
	height: 41px;
	margin: 50px auto;
	background: url(../img/sprit.png) 0 0 no-repeat;
}
.bg_foot li:nth-child(2) i{
	display: block;
	width: 42px;
	height: 42px;
	margin: 50px auto;
	background: url(../img/sprit.png) -42px 0 no-repeat;
}
.bg_foot li:nth-child(3) i{
	display: block;
	width: 42px;
	height: 42px;
	margin: 50px auto;
	background: url(../img/sprit.png) -86px 0 no-repeat;
}
.bg_foot li:last-child i{
	display: block;
	width: 42px;
	height: 42px;
	margin: 50px auto;
	background: url(../img/sprit.png) -126px 0 no-repeat;
}
.newWorld{
	width: 100%;
	height: 280px;
	background-color: #EDECEC;
	color: #A1A1A1;
	font: normal 50px/30px "microsoft yahei";
	text-align: center;
}
.newWorld i{
	display: block;
	width: 100px;
	height: 100px;
	background: url(../img/sprit.png) 0 -80px no-repeat;
	margin: 70px auto;
	position: relative;
	top: 30px;
}
.city{
	width: 100%;
	height: 320px;
	background: url(../img/city.jpg) 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
	background-color: rgba(191, 78, 72, 0.3);
}
.choice{
	width: 80%;
	margin: 15% auto;
}
.choice select{
	width: 20%;
	height: 35px;
	color: rgb(158, 159, 163);
	margin-left: 28px;
	appearance: none; /*消除默认样式*/
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../img/sprit.png) no-repeat scroll -140px -150px;
	background-color: #fff;
	
}
.choice a{
	text-decoration: none;
	width: 235px;
	height: 34px;
	display: inline-block;
	background-color: #BF4E48;
	color: #fff;
	text-align: center;
	font: normal 16px/30px "microsoft yahei";
	margin-left: 28px;
}
.activity{
	width: 100%;
	height: 603px;
	background-color: #F7F7F7;
	margin-top: 320px;
	position: absolute;
	text-align: center;
}
.activity ul{
	width: 90%;
	height: 90%;
	margin: 8%;
	list-style: none;
}
.activity li{
	float: left;
	margin-right: 80px;
}
.activity li:last-child{
	margin-right: 0;
}
.activity_1 i{
	display: block;
	width: 220px;
	height: 326px;
	border: 1px solid #DADADA;
	background: url(../img/activity.png) 0 -970px no-repeat;
}
.activity h3{
	color: #343434;
	font: normal 16px/28px "microsoft yahei";
}
.activity p{
	color: #A5A5A5;
	font: normal 14px/26px "microsoft yahei";
}
.activity_2 i{
	display: block;
	width: 220px;
	height: 326px;
	border: 1px solid #DADADA;
	background: url(../img/activity.png) 0 -647px no-repeat;
}
.activity_3 i{
	display: block;
	width: 220px;
	height: 326px;
	border: 1px solid #DADADA;
	background: url(../img/activity.png) 0 -320px no-repeat;
}
.activity_4 i{
	display: block;
	width: 220px;
	height: 326px;
	border: 1px solid #DADADA;
	background: url(../img/activity.png) 0 0 no-repeat;
}
.activity li:nth-child(2) h3{
	letter-spacing: 27px;
}
.newTime{
	width: 100%;
	height: 564px;
	position: relative;
	top: 924px;
}
.newTime div{
	float: right;
	width: 300px;
	margin: 100px 85px;
}
.newTime div h3{
	text-align: center;
	font: normal 20px/30px "microsoft yahei";
	letter-spacing: 5px;
}
.newTime div h3 span{
	color: #E74F4E;
}
.newTime div p{
	margin:40px auto;
	color: #B0B0B0;
	font: normal 14px/30px "microsoft yahei";
}
.newTime div a{
	display: block;
	width: 105px;
	height: 32px;
	border: 1px solid #E74F4E;
	color: #E74F4E;
	font: normal 16px/32px "microsoft yahei";
	text-align: center;
	margin: 0 auto;
}
.newUs{
	width: 100%;
	position: relative;
	top: 926px;
	text-align: center;
}
.newUs a{
	display: block;
	width: 170px;
	height: 45px;
	margin-top: -170px;
	margin-left: 120px;
	line-height: 45px;
}
.newUs p{
	margin: 220px 120px;
	font: normal 22px/40px "microsoft yahei";
}
.newUs i{
	display: block;
	height: 2px;
	width: 30px;
	position: absolute;
}
.newUs_1{
	display: inline-block;
	background-color: #E8504F;
	width: 31%;
	height: 611px;
	float: left;
	color: #fff;
}
.newUs_1 a{
	color: #fff;
	border: 1px solid #fff;
}
.newUs_1 i{
	top: 320px;
	left: 190px;
	background-color: #fff;
}
.newUs_2{
	display: inline-block;
	width: 31%;
	height: 611px;
}
.newUs_2 a{
	color: #E8504F;
	border: 1px solid #E8504F;
}
.newUs_2 i{
	top: 320px;
	left: 620px;
	background-color: #ACACAC;
}
.newUs_3{
	display: inline-block;
	float: right;
}
.joinUs{
	position: relative;
	top: 925px;
	width: 80%;
	margin: 0 auto;
}
.joinUs_top{
	margin: 120px auto 100px;
	text-align: center;
}
.joinUs_top h3{
	font: normal 22px/50px "microsoft yahei";
}
.joinUs_top i{
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: #E84F51;
	text-align: center;
	position: relative;
	top: -20px;
}
.joinUs_top p{
	color: #ACACAC;
	font: normal 12px/20px "microsoft yahei";
	margin-top: -10px;
}
.joinUs_left{
	float: left;
	width: 33%;
}
.joinUs_left h4{
	font: normal 14px/30px "microsoft yahei";
}
.joinUs_left p{
	color: #ACACAC;
	font: normal 12px/20px "microsoft yahei";
	margin: 15px 0 0;
}
.joinUs_left i{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/sprit.png) -125px -160px no-repeat;
	margin-left: 295px;
}
.joinUs_left span{
	color: #959394;
	font: normal 12px/20px "microsoft yahei";
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: -5px;
}
.joinUs_right{
	float: right;
}
.joinUs_right input, .joinUs_right textarea{
	background-color: #EDEDEF;
}
.joinUs_right input{
	width: 310px;
	height: 40px;
}
.joinUs_right button{
	width: 100%;
	height: 40px;
}
.contactUs{
	width: 100%;
	background-color: #33363F;
	color: #fff;
	position: relative;
	top: 1400px;
}
.contactUs_top{
	width: 80%;
	margin: 0 auto;
}
