body{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
select{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 55px;
	background-color: #228ABF;
	color: #fff;
	font-size: 10px;
}
header img{
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
header ul{
	float: right;
	margin-top: 10px;
	margin-right: 80px;
}
header li{
	float: left;
	margin-left: 30px;
}
header input{
	width: 315px;
	height: 20px;
	border-radius: 56px;
	border: none;
	padding-left: 10px;
}
header i.search{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/search.gif) top left no-repeat;
	position: relative;
	top: 8px;
	left: 30px;
}
header i.login{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/logo-r.gif) top right no-repeat;
	margin-top: 8px;
}
header span{
	position: relative;
	top: -7px;
}
aside{
	width: 20%;
	height: 500px;
	color: #68778A;
	background-color: #2B2E3D;
	float: left;
}
aside a{
	color: #68778A;
	font: normal 10px/20px "microsoft yahei";
}
.personal{
	font: normal 16px/40px "microsoft yahei";
}
.personal img{
	margin-top: 15px;
	margin-left: 30px;
}
.personal span{
	display: inline-block;
	position: relative;
	top: -20px;
	left: 10px;
	color: #fff;
}
.personal ul{
	margin: 0;
}
.personal li{
	float: left;
	width: 35px;
	font: bold 12px/15px "microsoft yahei";
}
.personal li:first-child{
	padding-right: 25px;
	border-right: 1px solid #68778A;
}
.personal li:last-child{
	padding-left: 25px;
}
.container{
	float: right;
	width: 80%;
	height: 500px;
	background-color: #EEEEEE;
	color: #AAAAAA;
	font: normal 10px/30px "microsoft yahei";
}
.catalog{
	width: 100%;
	height: 30px;
	background-color: #fff;
}
.catalog span{
	margin-left: 20px;
}
.catalog a{
	color: #6999C1;
}
.detail{
	margin: 20px auto;
	width: 90%;
}
.query{
	width: 100%;
	border: 1px solid #DEDFE1;
	background-color: #fff;
	padding-top: 15px;
}
.item, .purchaser, .date, .time, .seller, .number, .deal, .click, .change{
	display: inline-block;
	margin-left: 20px;
}
.query input, .query select{
	margin-left: 10px;
	font: normal 12px/20px "microsoft yahei";
	border: 1px solid #DDD;
	padding-left: 5px;
}
#item{
	width: 70px;
	background: url(../img/blue-arrow.gif) right center no-repeat;
}
#purchaser, #seller, #deal{
	width: 120px;
	background: url(../img/black-arrow.gif) right center no-repeat;
}
#time, #number{
	width: 70px;
	background: url(../img/black-arrow.gif) right center no-repeat;
}
.click button{
	border: none;
	background-color: #398AC1;
	color: #fff;
	width: 50px;
	height: 22px;
	font: normal 10px/15px "microsoft yahei";
	position: relative;
	top: 10px;
	left: 15px;
}
.seller{
	margin-left: 157px;
}
.change{
	position: absolute;
	top: 127px;
	left: 557px;
}
.date, .number{
	margin-left: 50px;
}
.price{
	color: #000;
	text-align: center;
	margin-left: 4px;
	float: left;
}
.price li{
	float: left;
	background-color: #fff;
	box-shadow: -1px -1px 1px #CCCDD1;
	margin-right: 11px;
	height: 60px;
	width: 90px;
}
.price p{
	font-size: 18px;
	margin: 0;
	color: #EB6600;
}
.price p span{
	color: #AEAEAE;
}
ul.price li:first-child, .price li:nth-child(8){
	width: 30px;
}
.price li:nth-child(2){
	border-top: 2px solid #4388C9;
}
.price i{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/history.gif) center left no-repeat;
	position: relative;
	top: 12px;
	left: 4px;
}
.lt, .gt{
	font: normal 30px/60px "microsoft yahei";
	color: #AFAFAF;
}
.statistics{
	position: relative;
	width: 90%;
	top: 70px;
	left: 45px;
	float: left;
}
.statistics p{
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	top: -60px;
	color: #000;
}
.statistics li{
	float: left;
	border: 1px solid #D3D4D8;
	position: relative;
	top: -70px;
	left: -40px;
	width: 20%;
	height: 60px;
	margin-right: 4%;
	background-color: #fff;
}
.statistics li:first-child{
	border-left: 2px solid #43B29F;
}
.statistics li:first-child div{
	width: 60px;
	height: 40px;
	background-color: #43B29F;
	position: absolute;
	top: 10px;
	left: 70px;
}
.statistics li:nth-child(2){
	border-left: 2px solid #398AC1;
}
.statistics li:nth-child(2) div{
	width: 60px;
	height: 40px;
	background-color: #398AC1;
	position: absolute;
	top: 10px;
	left: 70px;
}
.statistics li:nth-child(3){
	border-left: 2px solid #CF4B36;
}
.statistics li:nth-child(3) div{
	width: 60px;
	height: 40px;
	background-color: #CF4B36;
	position: absolute;
	top: 10px;
	left: 70px;
}
.statistics li:nth-child(4){
	border-left: 2px solid #E1CD46;
}
.statistics li:nth-child(4) div{
	width: 60px;
	height: 40px;
	background-color: #E1CD46;
	position: absolute;
	top: 10px;
	left: 70px;
}
.statistics li span:first-child{
	color: #000;
	position: absolute;
	top: 2px;
	left: 5px;
}
.statistics li span:nth-child(2){
	position: absolute;
	top: 25px;
	left: 5px;
	font-size: 8px;
}
.project{
	width: 90%;
	margin: 0 auto;
	position: relative;
	top: 200px;
}
.pro_l{
	width: 60%;
	border-radius: 10px;
	border: 1px solid #D1D2D6;
	height: 200px;
}
.pro_l p{
	background-color: #F4F5F7;
	margin: 0;
	padding: 0;
	width: 60%;
	height: 30px;
	border-bottom: 1px solid #D1D2D6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
}
